<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>FixHeaders</key>
		<true/>
		<key>ResetValue</key>
		<string>0x06</string>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename _OSI to XOSI (OS)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename _DSM to XDSM (NVDIMM)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>IEJSVDY=</data>
					<key>Replace</key>
					<data>IEJSVFg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>chang BRT6 to BRTX</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUw==</data>
					<key>Replace</key>
					<data>WlBUUw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _PTS to ZPTS</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSw==</data>
					<key>Replace</key>
					<data>WldBSw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _WAK to ZWAK</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TElEMA==</data>
					<key>Replace</key>
					<data>TElEXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change LID0 to _LID</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change ECDV to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1NUQQCgCZNTQlJHAA==</data>
					<key>Replace</key>
					<data>WFNUQQCgCZNTQlJHAA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GPI0 device _STA to XSTA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0NSUwCgDg==</data>
					<key>Replace</key>
					<data>WENSUwCgDg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change I2C devices _CRS to XCRS</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>AddPNLF</key>
				<true/>
				<key>FixRegions</key>
				<true/>
			</dict>
			<key>DropOEM_DSM</key>
			<dict>
				<key>USB</key>
				<false/>
				<key>HDMI</key>
				<false/>
				<key>ATI</key>
				<false/>
				<key>SmBUS</key>
				<false/>
				<key>LAN</key>
				<false/>
				<key>IntelGFX</key>
				<false/>
				<key>WIFI</key>
				<true/>
				<key>LPC</key>
				<false/>
				<key>Firewire</key>
				<false/>
				<key>IDE</key>
				<false/>
				<key>NVidia</key>
				<false/>
				<key>HDA</key>
				<false/>
				<key>SATA</key>
				<false/>
			</dict>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>BGRT</string>
			</dict>
		</array>
		<key>ResetAddress</key>
		<string>0x0CF9</string>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Fast</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>DefaultVolume</key>
		<string>MacOS</string>
		<key>Arguments</key>
		<string>alcid=21</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>Catalina</string>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>ShowOptimus</key>
		<true/>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<false/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>flagstate</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<true/>
		<key>HWPEnable</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<true/>
		<key>SetIntelMaxBacklight</key>
		<true/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Thermal subsystem</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>Sunrise Point-LP USB 3.0 xHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>Sunrise Point-LP SMBus</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x5)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@3,0,0</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>RTL810xE PCI Express Fast Ethernet controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Memory controller</string>
				<key>model</key>
				<string>Sunrise Point-LP PMC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<integer>21</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP LPC Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>model</key>
				<string>Intel HD Graphics 620</string>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-portcount</key>
				<data>AgAAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>AAPL,ig-platform-id</key>
				<data>AAAWWQ==</data>
				<key>framebuffer-con2-index</key>
				<data>/////w==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>Q170/Q150/B150/H170/H110/Z170/CM236 Chipset SATA Controller [AHCI Mode]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@2,0,0</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>BCM4352 802.11ac Wireless Network Adapter</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x5)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #6</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Xeon E3-1200 v6/7th Gen Core Processor Host Bridge/DRAM Registers</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>Sunrise Point-LP CSME HECI #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #5</string>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>sABMi1Xw</data>
				<key>Replace</key>
				<data>SIPEQF3D</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Debug kernel</string>
				<key>MatchOS</key>
				<string>10.13</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>MatchOS</key>
				<string>10.13</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 Release kernel (c) vit9696</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
		</array>
		<key>DellSMBIOSPatch</key>
		<true/>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE136</string>
		<key>Board-ID</key>
		<string>Mac-CAD6701F7CEA0921</string>
		<key>Trust</key>
		<true/>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>MacBookPro14,2</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP142.88Z.0167.B00.1708080034</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02726609J9F117CB</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro14,2</string>
		<key>SmUUID</key>
		<string>783D697E-256B-4647-A3E1-D2A99EEC97DE</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>SerialNumber</key>
		<string>C02TX28GHV2N</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>